<!DOCTYPE html>
<html>
  <head>
    <title>Интерактивная таблица менделеева.</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
  {% block scripts %}{% endblock %}
</html>
